<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  </head>
  <body>
  	<!-- NAVBAR -->
  	<nav class="navbar navbar-fixed-top navbar-default navbar-custom">
	  <div class="container">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="#" onclick="topFunction()">Forestry Game</a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="#project-description">Project</a></li>
	    	<li><a href="#project-technologies">Technologies</a></li>
	    	<li><a href="#project-team">Team</a></li>
	    	<li><a href="#project-burndown">Burnup</a></li>
	    	<li><a href="#project-hours">Hour Log</a></li>
	    </ul>
	  </div>
	</nav>

	<!-- CONTENT -->
	<div class="container" id="content">

		<!-- About the project -->
		<div id="project-description">
			<h1>PROJECT</h1>
			<p>This project is part of TUT's course "TIE-13106 Project Work on Pervasive Systems 2017-2018". The goal of this project is to design and create an educational game for forestry students that can be used to enhance knowledge needed in forwarding cutted trees.</p>
		</div>
		<hr class="divider" style="border-color: rgb(50,150,50);">

		<!-- About tech -->
		<div id="project-technologies">
			<h1>TECHNOLOGIES</h1>
			<p>TBA</p>
		</div>
		<hr class="divider" style="border-color: rgb(50,150,50);">

		<!-- About the team -->
		<div id="project-team">
			<h1>TEAM</h1>
			<div class="row">
				<div class="col-md-4">
					<img src="http://farm5.staticflickr.com/4362/36671439560_93e5b068f3_b.jpg" class="img-circle" alt="140x140" style="width:150px; height:150px;">
					<div id="contact-info">
						<h3>Aaro Korhonen</h3>
						<p>Project manager</p>
						<p>aaro.korhonen@student.tut.fi</p>	
					</div>
				</div>
				<div class="col-md-4">
					<img src="https://c1.staticflickr.com/5/4387/36309947574_e0f22eee83_o.jpg" class="img-circle" alt="140x140" style="width:150px; height:150px;">
					<div id="contact-info">
						<h3>Toni-Erik Martin</h3>
						<p>Product owner</p>
						<p>toni-erik.martin@student.tut.fi</p>	
					</div>
				</div>
				<div class="col-md-4">
					<img src="http://via.placeholder.com/150x150" class="img-circle" alt="140x140" style="width:150px; height:150px;">
					<div id="contact-info">
						<h3>Han Feng</h3>
						<p>UX Designer</p>
						<p>han.feng@student.tut.fi</p>	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 wow fadeIn">
					<img src="https://c1.staticflickr.com/5/4395/36956368326_891526ba27_o.jpg" class="img-circle" alt="140x140" style="width:150px; height:150px;">
					<div id="contact-info">
						<h3>Teemu Kuikka</h3>
						<p>Developer</p>
						<p>teemu.kuikka@student.tut.fi</p>	
					</div>
				</div>
				<div class="col-md-4">
					<img src="https://c1.staticflickr.com/5/4419/37170060405_90ed32138e_o.jpg" class="img-circle" alt="140x140" style="width:150px; height:150px;">
					<div id="contact-info">
						<h3>Antti Heinonen</h3>
						<p>Developer</p>
						<p>antti.heinonen@student.tut.fi</p>	
					</div>
				</div>
				<div class="col-md-4">
					<img src="http://via.placeholder.com/150x150" class="img-circle" alt="140x140" style="width:150px; height:150px;">
					<div id="contact-info">
						<h3>Oiva Moisio</h3>
						<p>Developer</p>
						<p>oiva.moisio@student.tut.fi</p>	
					</div>
				</div>
			</div>
		</div>
		<hr class="divider" style="border-color: rgb(50,150,50);">

		<!-- Burndown chart -->
		<div id="project-burndown">
			<h1>BURNUP CHART</h1>
			<img src="http://via.placeholder.com/600x300">
		</div>

		<hr class="divider" style="border-color: rgb(50,150,50);">
		<!-- Project hour tracking -->
		<div id="project-hours">
			<h1>HOURS</h1>
			<iframe id="iframe-hours" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS71cYTapHq0VXKJNsD9H-kpQz5kMuBQFFQ_GbJ9OMsmkIIhEqDmNiMb1ESnEVjJ8wb5Vu3mGATiZJ1/pubhtml?gid=525937980&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
			<p>Hours are divided to following categories: Documentation (DOC), Requirements gathering (REQ), Design (DES), Implementation (IMP), Testing (TEST), Meetings (MEET), Studying eg. technology (STU), Lectures (LEC) and Other (OTH).</p>
			<p>
				<a href="https://docs.google.com/spreadsheets/d/1BCdxHuxIpt-4L_uk0i-dureHQkOyR8cZDAOtaooDTjY/edit?usp=sharing">Link</a> to the full sheet.
			</p>
		</div>
	</div>
  </body>
</html>