<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="javascripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

  </head>
  <body>
  	<!-- NAVBAR -->
  	<nav class="navbar navbar-default">
		  <div class="container">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">-Project name here-</a>
		    </div>
		    <ul class="nav navbar-nav">
		    	<li><a href="#project-description">Project</a></li>
		    	<li><a href="#project-technologies">Technologies</a></li>
		    	<li><a href="#project-burndown">Burndown</a></li>
		      <li><a href="#project-team">Team</a></li>
		      <li><a href="#project-contact">Contact</a></li>
		    </ul>
		  </div>
		</nav>

		<!-- CONTENT -->
		<div class="container" id="content">

			<!-- About the project -->
			<div id="project-description">
				<h1>DESCRIPTION</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ullamcorper dolor, at vehicula diam. Nulla nec viverra nisl. Donec aliquam libero vel justo vestibulum, at gravida turpis congue. Duis ornare purus eu ligula blandit condimentum. Proin efficitur, ligula vitae semper commodo, mauris est cursus ex, quis venenatis augue nisl eget risus. Donec dignissim ultrices odio. Nulla pulvinar tincidunt diam at rutrum. Aenean cursus ac enim eget tincidunt.</p>
			</div>
			<hr class="divider">

			<!-- About tech -->
			<div id="project-technologies">
				<h1>TECHNOLOGIES</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ullamcorper dolor, at vehicula diam. Nulla nec viverra nisl. Donec aliquam libero vel justo vestibulum, at gravida turpis congue. Duis ornare purus eu ligula blandit condimentum. Proin efficitur, ligula vitae semper commodo, mauris est cursus ex, quis venenatis augue nisl eget risus. Donec dignissim ultrices odio. Nulla pulvinar tincidunt diam at rutrum. Aenean cursus ac enim eget tincidunt.</p>
			</div>
			<hr class="divider">

			<!-- Burndown chart -->
			<div id="project-burndown">
				<h1>BURNDOWN CHART</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ullamcorper dolor, at vehicula diam. Nulla nec viverra nisl. Donec aliquam libero vel justo vestibulum, at gravida turpis congue. Duis ornare purus eu ligula blandit condimentum. Proin efficitur, ligula vitae semper commodo, mauris est cursus ex, quis venenatis augue nisl eget risus. Donec dignissim ultrices odio. Nulla pulvinar tincidunt diam at rutrum. Aenean cursus ac enim eget tincidunt.</p>
			</div>
			<hr class="divider">

			<!-- About the team -->
			<div id="project-team">
				<h1>TEAM</h1>
				<div class="row">
					<div class="col-md-4">
						<img src="http://farm5.staticflickr.com/4362/36671439560_93e5b068f3_b.jpg" class="img-circle" alt="140x140" style="width:150px; height:150px;">
						<div id="contact-info">
							<h3>Aaro Korhonen</h3>
							<p>Project manager</p>
							<p>aaro.korhonen@student.tut.fi</p>	
						</div>
					</div>
					<div class="col-md-4">
						<img src="http://via.placeholder.com/150x150" class="img-circle" alt="140x140" style="width:150px; height:150px;">
						<div id="contact-info">
							<h3>MEMBER #2</h3>
							<p>Title</p>
							<p>Email</p>	
						</div>
					</div>
					<div class="col-md-4">
						<img src="http://via.placeholder.com/150x150" class="img-circle" alt="140x140" style="width:150px; height:150px;">
						<div id="contact-info">
							<h3>MEMBER #3</h3>
							<p>Title</p>
							<p>Email</p>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 wow fadeIn">
						<img src="https://c1.staticflickr.com/5/4395/36956368326_891526ba27_o.jpg" class="img-circle" alt="140x140" style="width:150px; height:150px;">
						<div id="contact-info">
							<h3>Teemu Kuikka</h3>
							<p>Developer</p>
							<p>teemu.kuikka@student.tut.fi</p>	
						</div>
					</div>
					<div class="col-md-4">
						<img src="http://via.placeholder.com/150x150" class="img-circle" alt="140x140" style="width:150px; height:150px;">
						<div id="contact-info">
							<h3>MEMBER #5</h3>
							<p>Title</p>
							<p>Email</p>	
						</div>
					</div>
					<div class="col-md-4">
						<img src="http://via.placeholder.com/150x150" class="img-circle" alt="140x140" style="width:150px; height:150px;">
						<div id="contact-info">
							<h3>MEMBER #6</h3>
							<p>Title</p>
							<p>Email</p>	
						</div>
					</div>
				</div>
			</div>
			<hr class="divider">

			<!-- Contact info -->
			<div id="project-contact">
				<h1>CONTACT? NECESSARY?</h1>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ullamcorper dolor, at vehicula diam. Nulla nec viverra nisl. Donec aliquam libero vel justo vestibulum, at gravida turpis congue. Duis ornare purus eu ligula blandit condimentum. Proin efficitur, ligula vitae semper commodo, mauris est cursus ex, quis venenatis augue nisl eget risus. Donec dignissim ultrices odio. Nulla pulvinar tincidunt diam at rutrum. Aenean cursus ac enim eget tincidunt.
			</div>
			<button class="btn btn-lg" onclick="topFunction()" id="top-button" title="Go to top">Back to top</button>
		</div>	
  </body>
</html>