* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

body {
	font-family: 'Helvetica Neue', 'nimbus-sans', helvetica, sans;
	padding-bottom: 200px;
}

nav {
	max-width: 700px;
	z-index: 1;
	margin: auto;
}

.navbar-default {
	border: 0;
	background-color: rgb(225,235,225);
}

.navbar.navbar-fixed-top.navbar-default.navbar-custom a {
	color: rgb(0,0,0);
}

.navbar.navbar-fixed-top.navbar-default.navbar-custom a:hover {
	color: rgb(209,255,237);
	background-color: rgb(39,174,96);
}

#project-team {
	text-align: center;
}

#content {
	max-width: 700px;
	padding-top: 50px;
}

#content p {
	text-align: justify;
}

#content h1 {
	text-align: center;
	padding: 0.5em;
}

#top-button {
	display: none;
	position: fixed;
	bottom: 20px;
	z-index: 1;
	text-align: center;
}

#content #contact-info p {
	text-align: center;
	letter-spacing: -0.04em;
	font-weight: 500;
	font-size: 1em;
	line-height: 0.6;
	width: 100%;
}

#contact-info h3 {
	font-size: 2em;
	font-weight: 500;
	letter-spacing: -0.03em;	
	width: 100%;
}

.col-md-4 {
	padding-bottom: 1em;
}