* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

body {
	font-family: 'Helvetica Neue', 'nimbus-sans', helvetica, sans;
}

nav {
	max-width: 700px;
	z-index: 1;
	margin: auto;
	border-bottom-right-radius: 7px !important;
	border-bottom-left-radius: 7px !important;
	border: 1px solid #cad3ca !important;
	border-top: none !important;
}

.navbar-default {
	border: 0;
	background-color: rgb(225,235,225);
}

.navbar.navbar-fixed-top.navbar-default.navbar-custom a {
	color: rgb(0,0,0);
}

.navbar.navbar-fixed-top.navbar-default.navbar-custom a:hover {
	color: rgb(209,255,237);
	background-color: rgb(39,174,96);
}

#project-team, #project-burndown, #project-hours {
	text-align: center;
}

#content {
	max-width: 700px;
	padding-top: 50px;
	color: #555;
}

#content p {
	text-align: justify;
}

#content h1 {
	text-align: center;
	padding: 0.5em;
}

.segment {
	margin-bottom: 150px;
}

h1 {
	color: #1B7943;
	border-top: 1px solid #76ae8e;
	border-bottom: 1px solid #76ae8e;
	border-radius: 5px;
	margin-bottom: 40px;
	text-shadow: 1px 1px 4px #eee;
}

#top-button {
	display: none;
	position: fixed;
	bottom: 20px;
	z-index: 1;
	text-align: center;
}

.img-circle {
	width:150px;
	height:150px;
}

.contact-info {
	margin-bottom: 50px;
}

#content .contact-info p {
	text-align: center;
	letter-spacing: -0.04em;
	font-weight: 500;
	font-size: 1em;
	line-height: 0.6;
	width: 100%;
}

.contact-info h3 {
	font-size: 2em;
	font-weight: 500;
	letter-spacing: -0.03em;	
	width: 100%;
}

.contact-info-2 {
	color: #777;
}

.col-md-4 {
	padding-bottom: 1em;
}

#iframe-hours {
	width: 600px;
	height: 600px;
	border: none;
}

@media screen and (max-width: 768px) {
    #iframe-hours {
		width: 100%;
	}

	.img-circle {
		width:70%;
		height:70%;
	}

	nav {
		width: 100vw !important;
	}
}